<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CSS(스타일시트 연습)</title>
    <link rel="stylesheet" type="text/css" href = "/static/mystyle.css">
    <!--<style type="text/css">
        p{color:chocolate;}
        h1{color:aquamarine;}
        div{color:burlywood;}
        p div{color:darkblue; background-color:blueviolet;}
        p.blue{color:blue;}
        div.green{color:greenyellow;}
        span.yellow{color:yellowgreen;}
        #red{color:red};
        /*.fontcolor{color:brown;}*/
    </style>
    -->
    <style>
        a:hover{background-color:green}
        p{letter-spacing:2px;}
    </style>
</head>
<body>
    <h1>스타일시트</h1>
        <p>모든 스타일시트<div class="green">외부스타일 시트를 사용하여 서식을 줌.</div>오늘은 무엇을 먹을까 잘모르겠다.
        <span class="yellow">무엇을</span>먹어도 먹어도 배가고프다.</p>
        <p>
            스타일 시트
        </p>
        <div>
            div태그입니다.
        </div>
        <p class="blue">
            으히히히
        </p>
        <p id ="red">
            중복없음
        </p>
        <p style="letter-spacing:1px" id="red">
            중복있음
        </p>
        <p><a href="http://www.naver.com">네이버</a>로 검색하기</p>        
</body>
</html>